name: Draft Release

on:
  workflow_dispatch:

jobs:
  build:
    name: Draft Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        
      - name: Install poetry
        run: pipx install poetry
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"
          cache: "poetry"
          cache-dependency-path: poetry.lock
      
      - name: Build project
        id: build
        run: |
          poetry build
          echo "version=$(poetry version --short)" >> "$GITHUB_OUTPUT"

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          tag_name: ${{ steps.build.outputs.version }}
          draft: true
